[Desktop Entry]
Encoding=UTF-8
Name=Demo Page
Comment=Demonstration page
Exec=/usr/bin/chromium-browser http://showterm.io/c000d06c8f89072554b59
Icon=/usr/share/pixmaps/chromium-browser.png
Type=Application
