[Desktop Entry]
Encoding=UTF-8
Name=Help Page
Comment=Project Home Page
Exec=/usr/bin/firefox http://www.tinylab.org/linux-0.11-lab/
Icon=/usr/share/pixmaps/firefox.png
Type=Application
